/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vx;
    display: flex;
    align-items: center;
    justify-content: center;/*align or position the content in the page*/
    background-color: #e0e3eb;
}
.container{
    width: 100%;
    position: relative;
    max-width: 300px;
    background: white;
    padding: 10px 20px 20px;
    border-radius: 10px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.05);/*shadow */
}
.display{
    width: 100%;
    height: 80px;
    outline: none;/*styled bordersetting*/
    border: none;
    margin-bottom: 10px;
    text-align: right;
    font-size: 25px;
    color: black;
    
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);/*to set a condition in arranging the buttons with size 1 fraction unit(1fr)*/

}

.buttons button
{
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:active
{
    transform: scale(0.99);
}

.operator{
    color: #2f9fff;
}